@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*========== BASE ==========*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.heading {
    max-width: 100%;
    background-color: #EAAE00;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.heading .container {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    align-items: center;
}

.heading .heading__toggle,
.heading label {
    display: none;
}

.heading .heading__menu {
    display: flex;
    width: 100%;
    max-width: 886px;
    /* max-width: max(886px, 40vw); */
    /* max-width: 750px; */
    padding-left: 15px;
    justify-content: space-between;
    background: green;
}

.navbar {
    /* min-width: 500px; */
    /* flex-basis: 525px; */
    min-width: min(525px, 40vw);
    background-color: red;
    /* margin: 0 auto; */
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    background: rebeccapurple;
    /* margin: 0 auto; */
}

.navbar ul li a {
    /* font-size: 29.17px; */
    font-size: clamp(25px, 2.5vw, 29.17px);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFFF;
    text-transform: capitalize;
}

.heading__search {
    display: flex;
    justify-content: center;
}

.heading__search input {
    height: 52px;
    width: 204px;
    background-color: #FFC500;
    border: none;
    padding: 17px 20px;
}

.heading__search span {
    width: 72px;
    height: 52px;
    background-color: #00BFCA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #FFFF;
}

.heading__search input::placeholder {
    color: #FFFF;
    font-size: 21px;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: "Poppins";
}

@media(max-width:1023px) {
    .navbar,
    .heading .heading__search {
        display: none;
    }
    .heading label {
        display: block;
    }
    .heading .container {
        flex-wrap: wrap;
    }
    .heading .heading__logo,
    .heading .heading__toggle {
        flex-basis: 50%;
    }
    .heading .heading__search,
    .navbar {
        flex-basis: 100%;
    }
    .heading #menu-toggle:checked~label span:nth-child(1) {
        display: none;
    }
    .heading #menu-toggle:checked~.navbar {
        display: block;
    }
    .heading #menu-toggle:checked~.heading__search {
        display: flex;
    }
    .navbar {
        order: 4;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}